:root{
    --cor-texto-link:#5A13B4;
    --cor-titulo:#3b1270;
    --cor-texto-destaque: #8e35ff;

    --cor-buscar: #5913b470;
    
    --cor-fundo-escolha-curso:#3b1270;
    --cor-fundo-inscreva-se: #8e35ff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif

}
    

a{
    color: var(--cor-texto-link);
    text-decoration: none;
}

.marginSite{
    margin:2.5vw 10vw;
}

.flex{
    display: flex;
    align-items: center;
}

/*Cabeçalho*header*/
.containerMenuPrincipal{
    margin-left: 5vw;
    justify-content: space-between;
    width: 100%;
    
}
.containerBlogGrad, .containerBuscarAmb{
    gap: 2vw;
}

.containerBuscar{
    border: 1px, solid, var(--cor-buscar);
    padding: 5px 15px;
    min-width: 220px;
    justify-content: space-between;
}
.containerBuscar input{
    border:none;
    color: var (--cor-titulo);

}
.containerBuscar input:focus {
    outline: none;
}

.containerBuscar input::placeholder{
    color: var(--cor-buscar);

}

.containerBuscar button{
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
}   

.containerBuscar button img{
    width: 100%;
}

.containerBuscarAmb a{
    gap: 0.5vw;
}
/*fim Cabeçalho (header)*/

/*Apresentação (titulo)*/
h1{
    color: var(--cor-titulo);
    font-weight: 400;
    font-size: 1.4rem;
}

.containerApresentacao{
    align-items: end;
    justify-content: space-between;
}

.containerApresentacao h2{
    color: var(--cor-titulo);
    font-weight: 400;
    font: size 9rem;
    max-width: 950px;

 }

 .containerApresentacao img{
    min-height: 50px;
 }

 .containerApresentacao p{
    color: var(--cor-titulo);
    max-width:  236px;
 }

 /*Apresentação (titulo)*/

 .corFundoCursos{
    background: var(--cor-fundo-escolha-curso);

 }

 .containerEscolhaCurso{
    gap: 2vw;
 }

 .persongemcurso{
    width: 40vw;
    height: auto;
 }

 .containerNomeCurso{
    margin: 2vw 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1vw;
    min-width: 650px;
    justify-content: space-around;
 }

 .tipoCurso{
    color: white;
    font-size: 1.1rem;
 }

 .nomeCurso{
    color: white;
    font-size: 1.4rem;
 }

 .containerBtnEscolherCurso{
    gap: 1vw;
 }
 
 .btnEscolherCurso{
    background-color: transparent;
    border: none;
    width: 1.5vw;
 }

 .btnEscolherCurso img{
    width: 100%;
 }

 .tituloSoftSkills{
    color: white;
    font-size: 2rem;
}

.containerSoftSkills{
    margin: 3vw 0;
    justify-content: space-between;
}

.nomeSoftSkill{
    color: white;
    font-size: 1.5rem;
}

.pontoSoftSkill{
    gap: 0.2vw;
}

.pontoSoftSkill img{
    width: 1.3vw;
}

.marginSoftSkill{
margin: 1vw 0;
}

/*Escolha seu Curso*/
