*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.6;
    padding-bottom: 40px;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

header h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 25px;
}

nav ul li a {
text-decoration: none;
color: #222;
font-weight: 500;
transition: 0.3s;
}

nav ul li a:hover {
    color: #555;
}

.secao {
    max-width: 800px;
    margin: 60px;
    padding: 0 20px;
}

.secao h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.secao p, .secao ul {
    font-size: 1.05rem;
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.projetos-container {
    display: flex;
    justify-content: center;
}

.projetos {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: 0.3s;

}

.projeto:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08)
}

.projeto h4{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

#contatos ul li a{
    color: #222;
    text-decoration: underline;
}

#contatos ul li a:hover{
    color: #555;
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 40%;
    color: #666;
    font-size: 0.9rem;
}